<ng-template #content>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p>{{message}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirm()">{{okButtonTitle}}</button>
        <button type="button" class="btn btn-primary" (click)="decline()">{{cancelButtonTitle}}</button>
    </div>
</ng-template>