/* You can add global styles to this file, and also import other style files */
.row-single {
    height: 150px;
    overflow-y: auto;
}

.row-double {
    height: 300px;
    overflow-y: auto;
}

.row-triple {
    height: 450px;
    overflow-y: auto;
}

.row-quadruple {
    height: 600px;
    overflow-y: auto;
}